.label {
	opacity: 0;
}

.hover {
	filter: brightness(60%); /* Adjust the percentage to darken the color */
}

body {
	overflow-x: hidden; /* Disable vertical scrolling */
	background-color: rgb(19, 12, 12);
}

.dropbtn {
	background-color: transparent;
	color: white;
	padding: -10px;
	font-size: 50px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	text-decoration: underline;
}

.dropdown {
	position: fixed;
	display: inline-block;
	position: fixed;
}

.dropdown-content {
	display: none;
	position: fixed;
	background-color: rgb(20, 20, 20);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: rgb(255, 255, 255);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #242424;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: rgba(20, 20, 20);
}

.country-container,
.country-label {
	transition: left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
